{% extends 'base.html.twig' %}

{% block title %}Sukces logowania{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Sukces!</h4>
            <p>Pomyślnie zalogowano do systemu.</p>
            <hr>
        </div>
    </div>
{% endblock %}